@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   
}
html{
   font-size:62.5%;
   scroll-behavior: smooth;
   color: #777;
}
nav{
   padding-right: 5rem;
   font-size: 2.3rem;
   background-image: radial-gradient(circle at center center, rgb(29,32,39),rgb(22,42,70));
   padding-bottom: 2rem;
   color: antiquewhite;
}
nav p{
   font-family: 'Pacifico', cursive;
   font-size: 4rem;
   padding-top: 2rem;
   padding-left: 3rem;
   color: white;

}
nav ul {
   float: right ;
}
nav ul li {
   list-style: none;
   display: inline-block;
   padding-left: 1.5rem;
   transform: translateY(-3.5rem);
}
nav ul li a{
   text-decoration: none;
   color: whitesmoke;
   transition: all .1s;
   font-size: 2.5rem;
}
nav ul li a:hover{
   background-color: rgba(0,0,0,.2);
   padding: .5rem .4rem;
   transform: scale(1.2);
   color: darkgray;
   font-size: 2.6rem;
}
nav ul li a:active{
   background-color: rgba(0,0,0,.4);
   padding: .4rem .3rem;
   transform: scale(1.1);
   color: gray;
   font-size: 2.55rem;
}
.navbar{
  position: sticky;
  top: 0;
  z-index: 1;
}
.home{
   background-image: linear-gradient(to right bottom,rgba(38,38,38,.6),rgba(30,30,30,.6)
   ) ,url('Bg.jpg');
   background-size: cover;
   height: 60rem;
   
}
.home h1{
   font-size: 8rem;
   padding-top: 8rem;
   padding-left: 3rem;
   color: whitesmoke;
   animation: moveInLeft 3s ease-out 0s 1;

}
.home p{
   padding-left: 3.4rem;
   font-size: 4rem;
   color: whitesmoke;
   padding-bottom: 1rem;
   animation: moveInRight 3s ease-out 0s 1;

}
.btn-home{
   background: transparent;
   font-size: 2.5rem;
   color: white;
   text-decoration: none;
   border: 1.5px solid ghostwhite;
   border-radius: 1px;
   margin-left: 3.4rem;
   padding: 1rem 4rem;
   opacity: 7;
   transition: all .2s;
   animation: MoveInLeft 3s ease-out 0s 1;

}
.btn-home:hover{
   opacity: 1;
   color:gray;
   font-size: 2.6rem;
   padding: 1.1rem 4.1rem;
   border: 1.5px solid gray;
}
.btn-home:active{
   opacity:8;
   color: lightgrey;
   font-size: 2.55rem;
   padding: 1.04rem 4.05rem;
   border: 1.5px solid lightgray;
}
.btn-home-div{
   animation: button 3s ease-out 0s 1;
}
.blank{
   height: 7.7rem;
}





/*😗😗 Agreement section 😗😗*/
.agreement{
   padding-left: 4rem;
   padding-top: 10rem;
   background-size: cover;
   padding-bottom: 3rem;
}
.agreement h2{
   font-size: 4rem;
   font-weight: bold;
   padding-bottom: 2rem;
}
.agreement h2:visited{
      animation: button 3s ease-out 3s 1;
}
.agreement .date{
   font-size: 2rem;
   width: 50rem;
   padding-bottom: 2rem;
   color: #555555;
}
.point{
   color:#54626F;
   font-size:2rem;
   font-weight: bold;
}
.line{
   background-color: slategray;
   color: slategray;
   width: 95%;
   height: .4rem;
   margin: 3rem auto;
   margin-bottom: 4rem;
   
}
/*😴😴 about section 😴😴*/
.about{
   padding: 10rem 1rem;
  
}
.img-about{
   padding-left: 4rem;
   padding-right: 4rem;
   width: 40%;
   float: left;
   transition: all .4s;
}
.img-about:hover{
   transform: scale(1.15);
}
.about h2{
   color: red;
   font-size: 5rem;
   padding-bottom: 1rem;
}
.about p{
   color: lightslategray;
   font-size: 2.5rem;
   padding-right: 2rem;
   padding-bottom: 1rem;
}
.btn-about{
   font-size: 2rem;
   padding: 1rem 2rem;
   background: none;
   border: .3rem solid dimgray;
   
}.btn-about:hover{
   opacity: 1;
   color:black;
   font-size: 2.6rem;
   padding: 1.1rem 2.1rem;
   border: 1.5px solid black;
}
.btn-about:active{
   opacity:8;
   color: gray;
   font-size: 2.55rem;
   padding: 1.04rem 2.2rem;
   border: 1.5px solid black;
}
/*😶😶 project section 😶😶*/
 .white h2{
    font-size: 5rem;
    color:black;
    padding: 6rem 0rem 1rem 5%;
 }
 .white p{
    font-size: 2rem;
    color:black;
    padding: 1rem 0rem 1rem 5%;
 }
.card{
    width: 24%;
    margin: 2rem;
    background-color: white;
    box-shadow: 0 .7rem .8rem 0 rgba(77,77,77, 0.9), 0 .8rem 2rem 1rem rgba(77,77,77, 0.9);
    transition: all .4s;
 }
 .card:hover{
    transform: scale(1.2);
 }
 .card img{
    width: 100%;
 }
 .card h3{
    color: black;
    padding:1rem 1rem;
    font-size: 2rem;
 }
 .white{
    padding-top: 2rem;
    background-color: white;
    height: 35rem;
 }
.black{
   height: 25rem;
}

.project-card{
   display: flex;
   justify-content: center;
   transform: translateY(-50%);
}
.line-white{
   background-color: slategray;
   
   width: 95%;
   height: .4rem;
   margin: 0rem auto;
   margin-bottom: rem;
   
}

/* 😁😁our team section 😁😁*/
.black-bg{
   background-color: black;
}
.team {
   background-color: black;
   padding-top: 0rem;
}
.team-photo-sec h2{
   font-size: 5rem;
   color:white;
   text-transform: uppercase;
   line-height: 6rem;
   letter-spacing: .2rem;
   letter-spacing: .5rem;
}
.team-photo-sec span{
   color: dimgray;
   font-size: 2rem;
}
.team-img{
   width: 50%;
   height: 20rem;
   padding-right: 8rem;
   transition: all .4s;
}
.team-img:hover{
   transform: scale(1.15);
}
.member{
   width: 100%;
   transform: translateY(-5rem);
}
.member h2{
   font-size: 2.5rem;
   transform: translateX(4rem);
   border-top: 2px solid dimgray;
   color: white;
   padding-bottom:.7rem;
}
.member p{
   font-size: 1.4rem;
   transform: translateX(4rem);
   color: white;

}
.member .span{
   font-size: 3.5rem;
   font-weight: bold;
   transform: translateY(5rem);
   color: dimgray;
}
.team-flexbox{
   display:flex;
   justify-content: center;
   padding-top: 10rem;
}

/* 🏘️🏘️🏘️contact part🏘️🏘️🏘️*/
.contact{
   background-color: black;
}
.contact-flex{
   background-color: black;
   display: flex;
   justify-content: center;
   padding-bottom: 6rem;
}
.contact-h2{
   
   color: whitesmoke;
   font-size: 5rem;
   padding:6rem 0 3.5rem 3%;
}
.contact-img{
   float:left;
   width: 45%;
   height: 80%;
   padding-right: 5rem;
   transition: all .4s;
}
.contact-img:hover{
   transform: scale(1.1);
}
.contact p{
   font-size: 2.8rem;
}
.whi{
   color: whitesmoke;
   font-size: 3rem;
}
.mail{
   color: ghostwhite;
   font-size: 3rem;
   
}
.contact-content{
   padding-top: 3rem;
   padding-bottom: 4rem;
   
}


/*animation part*/

@keyframes moveInLeft{
   0%{
     z-index:0;
     opacity: 0;
     transform: translateX(-10rem);
   }
   80%{
      z-index:0;
      transform: translateX(2rem)
   }
   100%{
      z-index:0;
      opacity: 1;
      transform: translate(0)
   }
}
@keyframes moveInRight{
   0%{
     z-index: 0;
     opacity: 0;
     transform: translateX(1rem);
   }
   80%{
      z-index: 0;
      transform: translateX(-2rem)
   }
   100%{
      z-index: 0;
      opacity: 1;
      transform: translate(0)
   }
}
@keyframes button{
   0%{
     opacity: 0;
     transform: translateY(5rem);
   }
   80%{
     transform: translateY(-2rem)
   }
   100%{
      opacity: 1;
      transform: translateY(0rem);
   }
}


 /*geid style part*/
.row{
   max-width: rem;
   margin: 0 auto ;
   
}
.row:not(:last-child){
      margin-bottom: rem;
      

}
.row::after{
   content:"";
   display: table;
   clear:both;
}
[class^="col-"]{
   
   float: left;
   
}
[class^="col-"]:not(:last-child){
   margin-right: rem;
}
.row .col-1-of-2{
   width: 46.73%;
}
.row .col-1-of-3{
   width: 20%;
}
.row .col-2-of-3{
   width: 64.49%;
}
.row .col-1-of-4{
   width: 20.1%;
}
.row .col-3-of-4{
   width: 73.35%;
}
/* grid style finished*/